/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

p {
	padding-bottom: 10px;
}

/*
   Progress has some potential downfalls because different browsers support this in
   different ways. */

progress[value] {
	-webkit-appearance: none;
	border: 1px solid #eaeaea;
	color: #EF5F3C;
	height: 12px;
	width: 260px;
	margin: auto;
}

progress::-webkit-progress-bar{ background: #FFF; }
progress::-webkit-progress-value { background: #EF5F3C; }
progress::-moz-progress-bar { background: #EF5F3C; }

.parent {
	display: flex;
	flex-flow: column;
	font-size: 12px;
}

.flex_row {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: auto;
}

.parent > form {
	display: flex;
	flex-flow: row;
  justify-content: space-between;
	width: 260px;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
}

.gray_box {
	border-radius: 2px;
	height: 40px;
	width: 260px;
	margin: auto;
	background-color: #777;
	color: #FFF;
	padding: 10px 20px 10px 20px;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	text-align: center;
}

/*
   I made a triangle using these tips.
   https://css-tricks.com/snippets/css/css-triangle/
 */
.arrow_down {
	position: relative;
	left: 90px;
	width: 0;
	height: 0;
	margin: auto;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #777;
	padding-bottom: 3px;
}

.border_box {
	margin: auto;
	width: 260px;
	border: 1px solid #eaeaea;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	color: #777;
}

.orange_text {
	color: #EF5F3C;
	font-weight: 700;
}

input {
	font-weight: 700;
}

/*
This could be better. I went by this example. The $ and text are not aligned on a baseline.
https://stackoverflow.com/questions/34985347/how-can-i-print-a-dollar-symbol-insideor-before-the-input-box
*/
.dollar{
	display:inline-block;
	position: relative;
}

.dollar:before {
	position: absolute;
	content: "$";
	font-size: 14px;
	font-weight: 700;
	left: 10px;
	top: 12px;
}

.dollar #amount {
	width: 100px;
	padding: 10px 10px 10px 20px;
	font-size: 14px;
}

#donate {
	border-radius: 2px;
	border-color: #1CBC2C;
	width: 100px;
	color: #FFF;
	background-color: #1CBC2C;
	padding: 10px;
	font-size: 14px;
}

#save {
	border-width: 1px 1px 2px 1px;
	border-radius: 2px;
	color: #777;
	background-color: #FFF;
	width: 120px;
	border-color: #eaeaea;
}

#tell {
	border-width: 1px 1px 2px 1px;
	border-radius: 2px;
	color: #777;
	background-color: #FFF;
	width: 120px;
	border-color: #eaeaea;
}

.blue_text {
	padding-top: 10px;
	color: #20A1D4;
}
